{% extends 'layout.html' %}
{% block content %}
<h1>Signup Form</h1>
<form action="/signup.html" method="POST" class="box">
    <div class="input__wrapper">
        <input type="text" name="username" placeholder="Username" class="input__field" required>
    </div>            
    <div class="input__wrapper">
        <input type="password" name="password" placeholder="Password" class="input__field" required>
    </div>
    <div class="input__wrapper">
        <input type="date" name="dob" placeholder="Date of Birth" class="input__field" required>
    </div>
    <div class="input__wrapper">
        <button type="submit" class="btn">Submit</button>
    </div>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
</form>
{% endblock %}